20251021.json
[
    {
        "id": "02825fbbdf8f3e8f",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d8158377adbe73a6",
        "type": "function",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "func": "var raw = msg.payload;\nif (typeof raw !== \"string\") return null;\n\nvar parts = raw.split(\",\").map(s => s.trim());\nif (parts.length < 7) return null;\n\nvar nodeID = parseInt(parts[0]);     // NodeID\nvar VWC = parseFloat(parts[1]); // VWC\n\nvar outMsg = { payload: VWC };\n\nif (nodeID === 5) {\n    return [outMsg];   // Node1 → 첫 번째 출력\n} else {\n    return [null];     // 알 수 없는 NodeID → 무시\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "f4b0a13179d93eaa",
                "11d2088b090aa840"
            ]
        ]
    },
    {
        "id": "a5ce5b5c32af5d50",
        "type": "function",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "func": "var raw = msg.payload;\nif (typeof raw !== \"string\") return null;\n\nvar parts = raw.split(\",\").map(s => s.trim());\nif (parts.length < 7) return null;\n\nvar nodeID = parseInt(parts[0]);     // NodeID\nvar Root_Temp = parseFloat(parts[2]); // Root_Temp\n\nvar outMsg = { payload: Root_Temp };\n\nif (nodeID === 5) {\n    return [outMsg];   // Node1 → 첫 번째 출력\n} else {\n    return [null];     // 알 수 없는 NodeID → 무시\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "4fd8ad7ea1988d7c",
                "e8e09ee2c5e7c2d2"
            ]
        ]
    },
    {
        "id": "fb165435d0b0d0a7",
        "type": "function",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "func": "var raw = msg.payload;\nif (typeof raw !== \"string\") return null;\n\nvar parts = raw.split(\",\").map(s => s.trim());\nif (parts.length < 7) return null;\n\nvar nodeID = parseInt(parts[0]);     // NodeID\nvar Temp = parseFloat(parts[3]); // Temp\n\nvar outMsg = { payload: Temp };\n\nif (nodeID === 5) {\n    return [outMsg];   // Node1 → 첫 번째 출력\n} else {\n    return [null];     // 알 수 없는 NodeID → 무시\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 380,
        "wires": [
            [
                "241d695adc58f48c",
                "fdfe331d87c91b5c"
            ]
        ]
    },
    {
        "id": "351e9f4c43173db5",
        "type": "function",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "func": "var raw = msg.payload;\nif (typeof raw !== \"string\") return null;\n\nvar parts = raw.split(\",\").map(s => s.trim());\nif (parts.length < 7) return null;\n\nvar nodeID = parseInt(parts[0]);     // NodeID\nvar RH = parseFloat(parts[4]); // RH\n\nvar outMsg = { payload: RH };\n\nif (nodeID === 5) {\n    return [outMsg];   // Node1 → 첫 번째 출력\n} else {\n    return [null];     // 알 수 없는 NodeID → 무시\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 460,
        "wires": [
            [
                "b2dfa1922ffc2412",
                "6beefc0b8679e6e6"
            ]
        ]
    },
    {
        "id": "32a95d75f4f3b708",
        "type": "function",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "func": "var raw = msg.payload;\nif (typeof raw !== \"string\") return null;\n\nvar parts = raw.split(\",\").map(s => s.trim());\nif (parts.length < 7) return null;\n\nvar nodeID = parseInt(parts[0]);     // NodeID\nvar Dew_T = parseFloat(parts[5]); // Dew_T\n\nvar outMsg = { payload: Dew_T };\n\nif (nodeID === 5) {\n    return [outMsg];   // Node1 → 첫 번째 출력\n} else {\n    return [null];     // 알 수 없는 NodeID → 무시\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 560,
        "wires": [
            [
                "bc980f7532919013",
                "862f0fd974f52a49"
            ]
        ]
    },
    {
        "id": "4926befe2349b96a",
        "type": "function",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "func": "var raw = msg.payload;\nif (typeof raw !== \"string\") return null;\n\nvar parts = raw.split(\",\").map(s => s.trim());\nif (parts.length < 7) return null;\n\nvar nodeID = parseInt(parts[0]);     // NodeID\nvar Pump = parseFloat(parts[7]); // Pump\n\nvar outMsg = { payload: Pump };\n\nif (nodeID === 5) {\n  return [outMsg];   // Node1 → 첫 번째 출력\n} else {\n  return [null];     // 알 수 없는 NodeID → 무시\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 720,
        "wires": [
            [
                "2c4de77503fa2af0"
            ]
        ]
    },
    {
        "id": "eebb6a6c6551ad1d",
        "type": "function",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "func": "// 1. 현재 시간\nlet now = new Date();\nlet datetime = now.toISOString().replace(\"T\", \" \").substring(0, 19);\n\n// 2. 데이터 정리 (줄바꿈, 탭, 공백 제거)\nlet raw = (typeof msg.payload === \"string\") ? msg.payload : JSON.stringify(msg.payload);\nraw = raw.replace(/[\\n\\r\\t]+/g, \"\").replace(/\\s{2,}/g, \" \").trim();\n\n// 3. 쉼표로 분리\nlet parts = raw.split(\",\").map(s => s.trim());\n\n// 4. 빈 값 제거\nparts = parts.filter(s => s !== \"\");\n\n// 5. 값 개수 확인\nif (parts.length < 7) {\n    node.warn(\"값 개수 부족\");\n    return null;\n}\n\n// 6. CSV 한 줄 구성 (시간 포함)\nmsg.payload = `${datetime},${parts.join(\",\")}\\n`;\n\n// 7. NodeID별 분리\nlet nodeID = parseInt(parts[0]);\nlet outMsg = { payload: msg.payload };\n\nif (nodeID === 5) {\n    return [outMsg];   // Node1 → 첫 번째 출력\n} else {\n    return [null];     // 알 수 없는 NodeID → 무시\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 800,
        "wires": [
            [
                "9534fd9ca27e4176"
            ]
        ]
    },
    {
        "id": "9534fd9ca27e4176",
        "type": "file",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "filename": "E:\\Data\\Environ\\Field.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 670,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "2c4de77503fa2af0",
        "type": "ui_switch",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "label": "Pump",
        "tooltip": "",
        "group": "b56514ca0fc54bf2",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "1",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 630,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "ec10cfb8d175dbc8",
        "type": "ui_text",
        "z": "02825fbbdf8f3e8f",
        "group": "b56514ca0fc54bf2",
        "order": 1,
        "width": 15,
        "height": 1,
        "name": "",
        "label": "Field",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 630,
        "y": 40,
        "wires": []
    },
    {
        "id": "f4b0a13179d93eaa",
        "type": "ui_gauge",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "group": "b56514ca0fc54bf2",
        "order": 4,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "VWC",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 100,
        "wires": []
    },
    {
        "id": "4fd8ad7ea1988d7c",
        "type": "ui_gauge",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "group": "b56514ca0fc54bf2",
        "order": 5,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Root_Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "241d695adc58f48c",
        "type": "ui_gauge",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "group": "b56514ca0fc54bf2",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "bc980f7532919013",
        "type": "ui_gauge",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "group": "b56514ca0fc54bf2",
        "order": 8,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Dew_Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "b2dfa1922ffc2412",
        "type": "ui_gauge",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "group": "b56514ca0fc54bf2",
        "order": 7,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "RH",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "11d2088b090aa840",
        "type": "ui_chart",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "group": "b56514ca0fc54bf2",
        "order": 10,
        "width": 10,
        "height": 5,
        "label": "VWC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e8e09ee2c5e7c2d2",
        "type": "ui_chart",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "group": "b56514ca0fc54bf2",
        "order": 11,
        "width": 10,
        "height": 5,
        "label": "Root_Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "fdfe331d87c91b5c",
        "type": "ui_chart",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "group": "b56514ca0fc54bf2",
        "order": 13,
        "width": 10,
        "height": 5,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 650,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "862f0fd974f52a49",
        "type": "ui_chart",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "group": "b56514ca0fc54bf2",
        "order": 12,
        "width": 10,
        "height": 5,
        "label": "Dew_Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "5510b440c222e7dc",
        "type": "serial in",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "serial": "0ea2fcaaccbfa388",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "fb165435d0b0d0a7",
                "d8158377adbe73a6",
                "a5ce5b5c32af5d50",
                "351e9f4c43173db5",
                "32a95d75f4f3b708",
                "4926befe2349b96a",
                "eebb6a6c6551ad1d",
                "27a3918443410db4",
                "ed436be77467f9ed"
            ]
        ]
    },
    {
        "id": "27a3918443410db4",
        "type": "function",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "func": "var raw = msg.payload;\nif (typeof raw !== \"string\") return null;\n\nvar parts = raw.split(\",\").map(s => s.trim());\nif (parts.length < 7) return null;\n\nvar nodeID = parseInt(parts[0]);     // NodeID\nvar EC = parseFloat(parts[6]); // EC\n\nvar outMsg = { payload: EC };\n\nif (nodeID === 5) {\n    return [outMsg];   // Node1 → 첫 번째 출력\n} else {\n    return [null];     // 알 수 없는 NodeID → 무시\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 640,
        "wires": [
            [
                "1424bcbb30d3406b",
                "5acdd46c368b10e4"
            ]
        ]
    },
    {
        "id": "1424bcbb30d3406b",
        "type": "ui_gauge",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "group": "b56514ca0fc54bf2",
        "order": 9,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "EC",
        "label": "dS/m",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 630,
        "y": 620,
        "wires": []
    },
    {
        "id": "5acdd46c368b10e4",
        "type": "ui_chart",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "group": "b56514ca0fc54bf2",
        "order": 15,
        "width": 10,
        "height": 5,
        "label": "EC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ed436be77467f9ed",
        "type": "function",
        "z": "02825fbbdf8f3e8f",
        "name": "function",
        "func": "var raw = msg.payload;\nif (typeof raw !== \"string\") return null;\n\nvar parts = raw.split(\",\").map(s => s.trim());\nif (parts.length < 7) return null;\n\nvar nodeID = parseInt(parts[0]); // NodeID\n\nvar outMsg = { payload: raw }; // 전체 데이터 그대로\n\nif (nodeID === 5) {\n    return [outMsg];   // Node1 → 첫 번째 출력\n} else {\n    return [null];     // 알 수 없는 NodeID → 무시\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 40,
        "wires": [
            [
                "ec10cfb8d175dbc8"
            ]
        ]
    },
    {
        "id": "6beefc0b8679e6e6",
        "type": "ui_chart",
        "z": "02825fbbdf8f3e8f",
        "name": "",
        "group": "b56514ca0fc54bf2",
        "order": 14,
        "width": 10,
        "height": 5,
        "label": "RH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 630,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "36bcd8e01f95c716",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 3,
        "width": 35,
        "height": 1
    },
    {
        "id": "2e998a21a26b3e04",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 4,
        "width": 35,
        "height": 1
    },
    {
        "id": "5628ce04fe09db1c",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 5,
        "width": 35,
        "height": 1
    },
    {
        "id": "81832311abcbfc30",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 6,
        "width": 44,
        "height": 1
    },
    {
        "id": "daa8111ad3aae017",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 7,
        "width": 44,
        "height": 1
    },
    {
        "id": "8f9fa32926479bd9",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 8,
        "width": 44,
        "height": 1
    },
    {
        "id": "517f5dafaafae85e",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 9,
        "width": 44,
        "height": 1
    },
    {
        "id": "c1e04be22b615fa8",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 10,
        "width": 44,
        "height": 1
    },
    {
        "id": "8c7ac7a58c979eaa",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 11,
        "width": 44,
        "height": 1
    },
    {
        "id": "f5ca6a24ebc971e5",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 12,
        "width": 44,
        "height": 1
    },
    {
        "id": "183ee6f1af2abca9",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 13,
        "width": 44,
        "height": 1
    },
    {
        "id": "37ca699fddc605b8",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 14,
        "width": 44,
        "height": 1
    },
    {
        "id": "53d35fd0a35c39bb",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 15,
        "width": 44,
        "height": 1
    },
    {
        "id": "f96f8b7d5958e899",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 16,
        "width": 4,
        "height": 1
    },
    {
        "id": "70474e9ddb40a2e6",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 18,
        "width": 23,
        "height": 1
    },
    {
        "id": "7be591e0e5f7ca2c",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 19,
        "width": 44,
        "height": 1
    },
    {
        "id": "d1abd7759f7fd39c",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 20,
        "width": 44,
        "height": 1
    },
    {
        "id": "57e6746023f3ebc2",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 21,
        "width": 44,
        "height": 1
    },
    {
        "id": "64c5dcb76d4d6708",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 22,
        "width": 44,
        "height": 1
    },
    {
        "id": "a838874cf693f699",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 23,
        "width": 44,
        "height": 1
    },
    {
        "id": "cfb938fe4bee5732",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 24,
        "width": 44,
        "height": 1
    },
    {
        "id": "63160a365e98c4df",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 25,
        "width": 44,
        "height": 1
    },
    {
        "id": "9f72da5b6628d820",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 26,
        "width": 44,
        "height": 1
    },
    {
        "id": "2426be5531aaa883",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 27,
        "width": 44,
        "height": 1
    },
    {
        "id": "6e1a336db770a180",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 28,
        "width": 44,
        "height": 1
    },
    {
        "id": "79d6c7bd02fe0c36",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 29,
        "width": 44,
        "height": 1
    },
    {
        "id": "b56adffddbda7b12",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 30,
        "width": 44,
        "height": 1
    },
    {
        "id": "18d7bd1b24294145",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 31,
        "width": 44,
        "height": 1
    },
    {
        "id": "59658cac6f05bdb5",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 32,
        "width": 44,
        "height": 1
    },
    {
        "id": "1e9b3e8a8f6bc136",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 33,
        "width": 44,
        "height": 1
    },
    {
        "id": "5e2a4408bb0a968c",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 34,
        "width": 44,
        "height": 1
    },
    {
        "id": "324bbab9ffb0554b",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 35,
        "width": 44,
        "height": 1
    },
    {
        "id": "59c224425d62e3e7",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 36,
        "width": 44,
        "height": 1
    },
    {
        "id": "1ed68d8f84278882",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 37,
        "width": 44,
        "height": 1
    },
    {
        "id": "00329619c16a7155",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 38,
        "width": 44,
        "height": 1
    },
    {
        "id": "26893e61aa7224b8",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 40,
        "width": 39,
        "height": 1
    },
    {
        "id": "26acac02e12782c0",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 41,
        "width": 39,
        "height": 1
    },
    {
        "id": "b15d51e3ed97fc38",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 42,
        "width": 39,
        "height": 1
    },
    {
        "id": "7f8af00a9eddf191",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 43,
        "width": 39,
        "height": 1
    },
    {
        "id": "a256e23a78edc222",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 45,
        "width": 39,
        "height": 1
    },
    {
        "id": "698ff5c694ea0d25",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 46,
        "width": 39,
        "height": 1
    },
    {
        "id": "89d92e1567d97b40",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 47,
        "width": 39,
        "height": 1
    },
    {
        "id": "c6d0ec0cc5c18d8c",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 48,
        "width": 39,
        "height": 1
    },
    {
        "id": "3aaa7ec39baa270a",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 50,
        "width": 39,
        "height": 1
    },
    {
        "id": "b64eb6ca51f247b9",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 51,
        "width": 39,
        "height": 1
    },
    {
        "id": "f30148ddcdaa4d1a",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 52,
        "width": 39,
        "height": 1
    },
    {
        "id": "c45a04ace3b797b2",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 53,
        "width": 39,
        "height": 1
    },
    {
        "id": "bcd427bba4b1d1ca",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 55,
        "width": 39,
        "height": 1
    },
    {
        "id": "a2743b4756e29262",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 56,
        "width": 39,
        "height": 1
    },
    {
        "id": "30963b1fab8016f0",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 57,
        "width": 39,
        "height": 1
    },
    {
        "id": "fec1bc2bbe8a413e",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 58,
        "width": 39,
        "height": 1
    },
    {
        "id": "4bb32992e7f25a27",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 60,
        "width": 39,
        "height": 1
    },
    {
        "id": "cf39f7efec068eca",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 61,
        "width": 39,
        "height": 1
    },
    {
        "id": "0f1552389ed3bcaa",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 62,
        "width": 39,
        "height": 1
    },
    {
        "id": "c30a350f98054042",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 63,
        "width": 39,
        "height": 1
    },
    {
        "id": "b37de97bf58bbbe8",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 65,
        "width": 38,
        "height": 1
    },
    {
        "id": "da124b89c715d20f",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 66,
        "width": 38,
        "height": 1
    },
    {
        "id": "2435a36b9d1a67c1",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 67,
        "width": 38,
        "height": 1
    },
    {
        "id": "ce1878b55dccf051",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 68,
        "width": 38,
        "height": 1
    },
    {
        "id": "9be22e618a4d3297",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 69,
        "width": 38,
        "height": 1
    },
    {
        "id": "a8dfbcd306c3d4a4",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 70,
        "width": 44,
        "height": 1
    },
    {
        "id": "ab214289715095eb",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 71,
        "width": 44,
        "height": 1
    },
    {
        "id": "01a0bd69adc60ab5",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 72,
        "width": 8,
        "height": 1
    },
    {
        "id": "6b3caaf2f5f35577",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 74,
        "width": 28,
        "height": 1
    },
    {
        "id": "9596081226640736",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 75,
        "width": 8,
        "height": 1
    },
    {
        "id": "4b3648c0ea3ed71c",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 76,
        "width": 28,
        "height": 1
    },
    {
        "id": "feddd70d54dff623",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 78,
        "width": 29,
        "height": 1
    },
    {
        "id": "926e820099432da5",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 79,
        "width": 29,
        "height": 1
    },
    {
        "id": "2dede00c63a2fb3a",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 80,
        "width": 29,
        "height": 1
    },
    {
        "id": "db2455286b7e2cd6",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 82,
        "width": 33,
        "height": 1
    },
    {
        "id": "bc760cedfb247cf3",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 83,
        "width": 44,
        "height": 1
    },
    {
        "id": "0f7a7914bb692d44",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 84,
        "width": 44,
        "height": 1
    },
    {
        "id": "c18e12239d315f6b",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 86,
        "width": 31,
        "height": 1
    },
    {
        "id": "4cba5028a1997da2",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 87,
        "width": 31,
        "height": 1
    },
    {
        "id": "bd4dac248ca95a39",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 88,
        "width": 31,
        "height": 1
    },
    {
        "id": "259f4620a92c9f8c",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 89,
        "width": 44,
        "height": 1
    },
    {
        "id": "934c499e9d7a3c8e",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 90,
        "width": 44,
        "height": 1
    },
    {
        "id": "7f1dc26e93c51a71",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 92,
        "width": 31,
        "height": 1
    },
    {
        "id": "8f076c00414a2aa5",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 93,
        "width": 31,
        "height": 1
    },
    {
        "id": "10e1b255e6e015d3",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "9c9727cf923152f7",
        "order": 94,
        "width": 31,
        "height": 1
    },
    {
        "id": "0ae52e9a9b83fc94",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "295b4d3b2e19da1a",
        "order": 2,
        "width": 9,
        "height": 1
    },
    {
        "id": "8960bffe0e48051f",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "900b5c7937545390",
        "order": 2,
        "width": 5,
        "height": 1
    },
    {
        "id": "1c0325fabb4eb64a",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "900b5c7937545390",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "b0f97085ba76e8ce",
        "type": "ui_spacer",
        "z": "02825fbbdf8f3e8f",
        "name": "spacer",
        "group": "b56514ca0fc54bf2",
        "order": 2,
        "width": 9,
        "height": 1
    },
    {
        "id": "b56514ca0fc54bf2",
        "type": "ui_group",
        "name": "Field",
        "tab": "14bbdf5a51d4cc56",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ea2fcaaccbfa388",
        "type": "serial-port",
        "name": "",
        "serialport": "COM4",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "9c9727cf923152f7",
        "type": "ui_group",
        "name": "Field3",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 44,
        "collapse": false,
        "className": ""
    },
    {
        "id": "295b4d3b2e19da1a",
        "type": "ui_group",
        "name": "Greenhouse",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "900b5c7937545390",
        "type": "ui_group",
        "name": "Field2",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false,
        "className": ""
    },
    {
        "id": "14bbdf5a51d4cc56",
        "type": "ui_tab",
        "name": "Field",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
